.Canvas {
    border-radius: 20px;
    background-color: #FFFFFF;
    padding: 200px;
}

.GuessColour {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.ColourName {
    padding: 20px;
    text-align: center;
    align-self: center;
    align-items: center;
}

.ColourWheel {
    align-items: center;
    justify-content: top;
}